{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actualité Politique Mondiale</h1>

    <ul>
        {% for actualite in actualites %}
            <li>{{ actualite.titre }}</li>
            <p>{{ actualite.contenu }}</p>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
